@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,700;0,900;1,300&display=swap');

/* Variables */

:root {
  --color-bg: #1F2937;
  --color-btn: #3882F6;
  --color-link: #E5E7EB;
  --size-xl: 48px;
  --size-l: 36px;
  --size-m: 24px;
  --size-s: 18px;
  --font-main: 'Roboto', sans-serif;
}

/* reset */

*{
  margin: 0;
  padding: 0;
}

ol, li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: black;
}

button {
  outline: none;
  border: none;
}

/* General */

body {
  font-family: var(--font-main);
}

.flex {
  display: flex;
}

.flex-col {
  flex-direction: column;
}

.wrapper{
  max-width: 1200px;
  width: 96%;
  margin: 0 auto;
}


.logo {
  font-size: var(--size-m);
  font-weight: 800;
}

.wrapper-nav {
  justify-content: space-between;
  align-items: center;
}

.nav-top {
  gap: 1em;
}


nav {
  padding-top: 1em;
}

header {
  padding-top: 5em;
}

nav, header{
  background-color: var(--color-bg);
  color: var(--color-link);
}

li > a {
  color: var(--color-link);
}

h1 {
  font-size: var(--size-xl);
  font-weight: 900;
  line-height: 1;
  padding-bottom: 16px;
}

header p {
  font-size: var(--size-s);
}

button {
  padding: 0.4em 1.25em;
  border-radius: 5px;
}

.header-btn {
  background-color: var(--color-btn);
  color: var(--color-link);
  font-weight: 800;
  margin-top: 1em;
}

header img {
  height: 300px;
  padding-bottom: 2em;

}

main {
  padding-top: 80px;
  padding-bottom: 80px;
}

h2 {
  font-size: var(--size-l);
  color: var(--color-bg);
  text-align: center;
  padding-bottom: 80px;
}

.wrapper-header {
  justify-content: space-between;
}

.header-left {
  max-width: 500px;
}

.cards {
  flex-wrap: wrap;
  gap: 1em;
  justify-content: space-evenly;
}

.card {
  width: 200px;
  text-align: center;
}

.card  p {
  padding-top: 1em;
  font-weight: 100;
}

.card img {
  border-radius: 5%;
}

.quote {
  background-color: var(--color-link);
  padding: 160px 20%;
}

.quote p{
  text-align: right;
  font-weight: 800;
  font-size: var(--size-m);
  padding-top: 1em;
}

blockquote {
  font-size: 36px;
  color: #1F2937;
  font-style: italic;
  font-weight: 300;
}

.wrapper-footer {
  background-color: var(--color-btn);
  margin-top: 4em;
  padding: 4em 0;
  justify-content: space-around;
  margin-bottom: 4em;
  border-radius: 10px;
}

.cta {
  color: var(--color-link);
}

.cta h3 {
  font-size: var(--size-m);
}

.btn-footer {
  background: none;
  color: var(--color-link);
  font-weight: 800;
  border: 1px solid var(--color-link);
}

.footnote {
  background-color: var(--color-bg);
  text-align: center;
  color: var(--color-link);
  padding: 2em 0;
}